

.btn { 
   position: relative;
    z-index: 3;
    font-size: 2rem;
   font-weight: 700;  
    padding: 0.5rem 2rem;
    border-radius: 12px;
    width: 400px;
    cursor: pointer;
    transition: 1s all;
    background: rgb(255,226,89);
background: linear-gradient(4deg, rgba(255,226,89,1) 32%, rgba(255,167,81,1) 90%);
   
}

