@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');


*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --line-height:1.3;
  --main-bg-color: #dfecf4;
  --main-red: #720612;
  --second-red: #970a44;
  --main-blue: #1c4668;
  --main-green: #008000;
  --main-transition: 0.5s all;
  --border-radius: 12px;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  line-height: var(--line-height);
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  background-color: var(--main-bg-color);
  color: black;
  font-family: 'Montserrat', sans-serif;
}
