.section {
    height: 90vh;
   
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.text,
.picture_box {
    margin: 0 2rem;
    
}
.text {
    width: 90%;
    border-radius: 12px;
background: #dfecf4;
box-shadow: inset 12px 12px 24px #c4d0d7,
            inset -12px -12px 24px #faffff;
            padding: 2rem;

    
}
.text a,
.text h3, 
.text span a{
    color: var(--second-red);
    margin-bottom: 1rem;
}
.picture_box {
    display: none;
   opacity: 0.4;
   border-radius: 12px;
background: #dfecf4;
box-shadow:  -12px 12px 24px #bec9cf,
             12px -12px 24px #ffffff;

}
@media only screen and (min-width: 900px){
    .text {
        width: 70%;
    }
}

@media only  screen and (min-width: 1200px) {
    .text {
        width: 40%;
    }
    .picture_box {
        display: block;
    }
}