.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    border-radius: 12px;
   font-size: 1.2rem;
   
    
}
.container {
   width: 400px;
   position: relative;
    border-radius: 12px;
}
.header {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--second-red);
    font-size: 1.5rem;
}
.article {
    
    margin-top: 2rem;
    
    
    position: relative;
    transition: 1s all;
    transform-style: preserve-3d;
   
    height: 60vh;  
}
.turn {
    transform: rotateY(.5turn);
}


.front_text,
.back_text {
    position: absolute;
    inset: 0;
    transform: translateZ(100px);
    backface-visibility: hidden ;
    transform-style: preserve-3d;
}
.front_text {
    border-radius: 12px;

}
.back_text {
    transform: rotateY(.5turn);
    border-radius: 12px;

}

.picture_container picture {
    display: flex;
    justify-content: center;
}
.picture_container picture:first-child {
   
    opacity: 0.3;
   
}
.picture_container picture:last-child {
   left:0;
    top: 0;
    opacity: 0.3;
   position: absolute;
    display: none;
    
}


@media only screen and (min-width: 600px) {
    .section {
        padding: 1rem;
    }
    .article {
        height: 40vh;
    }
    .container {
        width: 500px;
    }
}
@media only screen and (min-width: 800px) {
    .section {
       
    }
    .container {
        position: relative;
        display: flex;
        width: 800px;
    }
    .article{
        width: 500px;
    }
    .picture_container picture:first-child {
        position: absolute;
        
        right: 0;
       top: 0;
    }
}
@media only screen and (min-width: 1300px) {
    .container {
        width: 1100px;
    }
    .picture_container picture:last-child {
        display: block;
    }
    .article {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .front_text,
.back_text {
    width: 450px;
    margin: auto;
}
}