.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    border-radius: 12px;
   
   
    
}
.container {
   
   
    border-radius: 12px;
}
.header {
    text-align: center;
    margin-bottom: 3rem;
}
.article {
    
    margin-top: 2rem;
    
    
    position: relative;
    transition: 1s all;
    transform-style: preserve-3d;
   
    height: 60vh;  
}
.article:hover {
    transform: rotateY(180deg);
}


.front_text,
.back_text {
    position: absolute;
    inset: 0;
    
    backface-visibility: hidden ;
    transform-style: preserve-3d;
}
.front_text {
    border-radius: 12px;

}
.back_text {
    transform: rotateY(.5turn);
    border-radius: 12px;

}

.picture_container picture {
    display: flex;
    justify-content: center;
}
.picture_container picture:first-child {
    left: 0;
    top: 10%;
    opacity: 0.3;
   
}
.picture_container picture:last-child {
    right:0;
    top: 10%;
    opacity: 0.3;
   
    display: none;
    
}


@media only screen and (min-width: 600px) {
    .section {
        padding: 3rem;
    }
}
@media only screen and (min-width: 800px) {
    .section {
        padding: 5vw 10vw;
        margin: 5vw;
    }
}
@media only screen and (min-width: 1100px) {
    .section {
        padding: 5vw 20vw;
    }
}