.nav {
    height: 60px;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 20;
    background-color: var(--main-bg-color);
    padding: 0 2rem;
    
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.nav_links {
    display: inline;
    
}
.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.btn_div {
    transition: 2s all ;
    display: none;
}
.active {
    transform: rotate(-90deg);
}
.no_active {
    transform: rotate(0deg);
}
@media only screen and (max-width: 1200px) {
    .nav_links {
        display: none;
    }
    .button_div {
        display: block;
    }
}
