.blog {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5rem;
   
}
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    width: 100%;
}
.text_div {
    max-width: 500px;
    padding: 1rem;
}
.image_div {
    margin: auto;
}
.header {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    
}

.header,
.text_div span {
    color: var(--main-red);
    font-weight: 700;
}

.recipe_div {
    width: 100%;
    text-align: center;
   padding: 1rem;
}
.recipe_div h3 {
    font-size: 2rem;
    text-decoration: underline;
}
.recipe_area ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
}
.news_letter {
    width: 80%;
    margin: auto;
}
.news_letter p {
    margin: 1rem 0;
    text-align: center;
}
.search input,
.news_letter p input {
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 12px;
}

.news_letter p input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--main-red) ;
}
.news_letter form {
    width: 100%;
    
    text-align: center;
}
.news_letter form button {
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 80%;
    background-color: var(--main-red);
    color: white;
    font-weight: 700;
    border-radius: 12px; 
    cursor: pointer;
}
.thank_you {
    color: var(--main-green);
    font-weight: 700;
}
.error {
    color: var(--main-red);
    font-size: 700;
    margin: auto;
}



@media only screen and (min-width: 600px) {
    .text_div {
        width: 60%;
        margin: auto;
    }
    .recipe_area {
        
        display: flex;
        justify-content: center;
    }
    .recipe_area  ul{
        width: 60%;
    }
    .news_letter p label {
        margin-right: 1rem;
    }
    .news_letter form button {
        width: 60%;
    }
}
@media only screen and (min-width: 1000px) {
    .article {
        margin: 1rem 5vw;
        justify-content: space-evenly;
    } 
    .image_div {
        margin-left: 0;
    }
    .news_letter {
        width: 60%;
    }
    .news_letter p label {
        margin-right: 2rem;
    }
    .news_letter form button {
        width: 40%;
    }
}
@media only screen and (min-width: 1500px) {
    .text_div {
        max-width: 700px;
    }
}