

.sidebar_area { 
    padding-top: 2rem;
    background-color: var(--main-bg-color);
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transform: translateY(-120%);
    transition: 1s all;
    top: 7%;
    height: auto;
    
 
    
    
}
.header {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--second-red);
}
.open {
    transform: translateY(-3px);
}
 @media only screen and ( min-width: 1200px) {
    .sidebar_area {
        display: none;
    }
 }


